name: pipeline

on:
  push:
    branches:
      - master
      - dev
  pull_request:

jobs:
  test-job:
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15]  # Added macos-15 here
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Get Date
        id: get-date
        run: echo "today=$(/bin/date -u '+%Y%m%d')" >> $GITHUB_OUTPUT
        shell: bash

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          use-mamba: true
          activate-environment: cadet-python
          channels: conda-forge

      - name: Cache conda
        uses: actions/cache@v3
        env:
          # Increase this value to reset cache if environment.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: ${{ env.CONDA }}/envs
          key: ${{ matrix.os }}-python_${{ matrix.python-version }}-${{ steps.get-date.outputs.today }}-${{ hashFiles(env.CONDA_FILE) }}-${{ env.CACHE_NUMBER }}
        id: cache

      - name: Set up python env
        run: |
          conda install python=${{ matrix.python-version }}
          conda run pip install .

      - name: Install pypa/build
        run: |
          conda run python -m pip install build --user

      - name: Build binary wheel and source tarball
        run: |
          conda run python -m build --sdist --wheel --outdir dist/ .

      - name: Test Wheel install and import
        run: |
          conda run python -c "import cadet; print(cadet.__version__)"
          cd ..

      - name: Test with pytest
        run: |
          conda run pip install .[testing]
          conda install -c conda-forge cadet>=5.0.3
          pytest tests --rootdir=tests -m "not slow and not local"
